body {
    /* giving both 80% width and 700px max width, so it checks if 80% of the body will be more than 700px
    so if it's more than 700px, it stays at 700px. While shrinking windows we can observe this     */
    width: 80%;
    max-width: 700px;
    border:20px solid #bdc3c7;
    margin: 20px auto 20px auto;
    padding: 0 20px 20px 20px;
}

h4 {
    color: #3498db;
    text-transform: uppercase;
    font-family: Source Sans Pro;

    font-size: 15px;

/* EMs are relative to their parent's font size

REMs are relative to a base font-size (which in this case is: 15px)

This is important when intermediate containers change font sizes. 
Child elements with EMs will be affected, those using REMs will not. */
    letter-spacing: 0.2rem;
}

h2 {
    font-family: Source Sans Pro;
    text-transform: capitalize;
    color: #2c3e50;
    font-weight: 700;
    font-size: 2.0rem;
}

p {
    font-family: Source Sans Pro;
}

/* Below selector is targetting the adjacent <p>'s to the h2 elements */
h2 + p {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

/* hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
} */

#hrdiv {
    margin-top: 50px;
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}