
@keyframes moveright {
    100% {
        transform : translateX(400px);
    }
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: purple;
    text-transform: uppercase;
    line-height: 140px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 17px;


    animation-name: moveright;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}

.box:hover {
    animation-play-state: paused;
}


.forward {
    animation-direction: normal;
}

.reverse {
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.alternate {
    animation-direction: alternate;
}

/* animation definition */

